.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.color-egg {
    display: inline-block;
    text-align: center;
    width: 126px;
    height: 180px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    padding: 10px;
}


/* .color-label, .color-hex {
    padding: 7px;
} */

.second-row-champagne {
    display: inline-block;
    margin-top: 10px;
    margin-left: 0px;
}

.second-row-rhythm {
    display: relative;
    margin-top: 10px;
    margin-left: 200px;
}

.eggplant {
    background-color: #673C4F;
    color: #fff;
}

.chinese-violet {
    background-color: #7F557D;
    color: #fff;
}

.columbia-blue {
    background-color: #AECFDF;
    /* color: #fff; */
}

.rhythm {
    background-color: #726E97;
    color: #fff;
}

.deep-champagne {
    background-color: #F2D492;
    /* color: #fff; */
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 1000;
}

.italic {
    font-style: italic;
}

.nobile {
    font-family: 'Nobile', sans-serif;
}

.pt-sans-narrow {
    font-family: 'PT Sans Narrow', sans-serif;
}

.palanquin {
    font-family: 'Palanquin', sans-serif;
}

.font-label {
    font-size: 20px;
    text-decoration: underline; 
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.text-panel h1 {
    font-weight: 1000;
    font-size: 36px;
    font-family: 'Nobile', sans-serif;
}

body {
    font-family: 'Nobile', sans-serif;
    margin: 0 10%;
}

.text-panel h2 {
    font-weight: 500;
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Palanquin', sans-serif;
}

p {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Palanquin', sans-serif;   
}

h2 {
    font-weight: 500;
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif; 
}

p.sample {
    line-height: 5px;
}


h2.sample {
    line-height: 10px;
}
